<a href="https://colab.research.google.com/github/mohitsshetty986/Movie-Recommendation-Systems/blob/master/Credits_Genres_Keywords_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Credits, Genres, and Keywords Based Recommender**
###**This recommender system is based on the following metadata: the 3 top actors, the director, related genres, and the movie plot keywords.**

In [7]:
import pandas as pd

In [8]:
from google.colab import files
uploaded=files.upload()

Saving credits.csv to credits.csv
Saving keywords.csv to keywords.csv
Saving movies_metadata.csv to movies_metadata.csv

####**We are going to use primarily two datasets 'Credits' and 'Keywords' to get the movie casts, genre and movie overview.**

In [61]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')
metadata=pd.read_csv('movies_metadata.csv',low_memory=False)

**We are going to load and merge them into main DataFrame 'metadata'.**

**We follow the below steps.**

In [62]:
credits.head(1)

                                                cast  ...   id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  862

[1 rows x 3 columns]

In [63]:
keywords.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [64]:
metadata.head(1)

   adult  ... vote_count
0  False  ...     5415.0

[1 rows x 24 columns]

**We need to convert the ids in 'keywords', 'credits' and 'metadata' dataframes to 'int' datatype inorder to merge the dataframes into 'metadata'**

In [67]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

In [68]:
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

###**We can see the Cast, Crew and Keywords are added to the main dataframe**

In [70]:
metadata.head()

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 27 columns]

###**The data is present in the form of "stringified" lists. We need to convert them into a way that is usable for us.**

In [69]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [71]:
import numpy as np

###**Get the director's name from the crew feature.**

In [72]:
def get_director(crew):
    for i in crew:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

##**Now we will write a function that will return the top 3 actors, top 3 keywords and top 3 genres of a movie.**

---


###**Note that a movie can have more than three actors and keywords but we are taking only the top three actors. If a movie has less than 3 actors and keywords then we are taking it all.**

###**Similarly a movie can belong to more than 3 genres but we are taking 3 atmost and if less then we are taking all.**

In [73]:
def get_list(x):                      # x :  cast, keywords, genres
    if isinstance(x, list):
        names = [i['name'] for i in x]

        if len(names) > 3:
            names = names[:3]
        return names

    return []

###**We are creating a director column and we get it's values using get_director funtion**

In [74]:
metadata['director'] = metadata['crew'].apply(get_director)

###**We are creating three more attributes for the metadata dataframe which are cast, keywords and genres.**

In [75]:
features = ['cast', 'keywords', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

##**We have the data we need for the movies recommendation : cast, director, keywords, genres.**

In [76]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [Animation, Comedy, Family]
1           Jumanji  ...  [Adventure, Fantasy, Family]
2  Grumpier Old Men  ...             [Romance, Comedy]

[3 rows x 5 columns]

##**We will be now creating a string that contains all the above data(actors, director, genres and keywords) that we want to use in our vectorizer.**

**Note that before computing the similarity scores to get the recommendations we need to turn the names and keyword instances into lowercase and remove the spaces between words so that the vectorizer doesn't count the Tom of "Tom Hanks" and "Tom Hiddleston" as the same. So the actors with names having spaces will be represented as "TomHanks"**

In [77]:
def clean_data(x):         # x :  cast, keywords, genres, director
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [78]:
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [81]:
def required_columns(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + ' '.join(x['director']) + ' ' + ' '.join(x['genres'])

In [82]:
metadata['Required_data'] = metadata.apply(required_columns, axis=1)

In [83]:
metadata.head(1)

   adult  ...                                      Required_data
0  False  ...  jealousy toy boy tomhanks timallen donrickles ...

[1 rows x 29 columns]

##**Now lets calculate the cosine similarities.** 

##**Here we are using CountVectorizer() instead of TF-IDF vectorizer which was used for movie plot based recommendation system. This is because we dont want to down-weight the actor or director's names if they appear in relatively more movies and it doesn't make any sense in this case.**

In [84]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['Required_data']) # fit_transform convert into numbers and store into a matrix

In [85]:
count_matrix.shape

(46628, 58204)

**In my case the dataset is huge and the google colab session gets crashed. So I'm taking a fraction of the metadata dataframe and working on it. I will have to go back and get the count_matrix for a fraction of metadata.**

In [89]:
fraction_metadata=metadata.head(10000)

In [90]:
count_matrix1 = count.fit_transform(fraction_metadata['Required_data'])

##**Compute the Cosine similarities**

In [93]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix1, count_matrix1)

**You're going to define a function that takes in a movie title as an input and outputs a list of the 10 most similar movies. First you need a reverse mapping of movie titles and DataFrame indices. In other words, you need to identify the index of a movie in your metadata DataFrame( for us it's fraction of metadata), given its title.**

In [92]:
indices = pd.Series(fraction_metadata.index, index=fraction_metadata['title'])

####**We get the final solution:** 
Follow these steps:


1.  Get the index of the movie given its title.

2.  Get the list of cosine similarity scores for that particular movie with all movies. Convert it into a list of tuples where the first element is its position, and the second is the similarity score.

3.  Sort the list based on the similarity scores.

4.  Get the top 10 elements of this list ignoring the first element as it refers to self (the movie most similar to a particular movie is the movie itself).

5.  Return the movie titles corresponding to the indices of the top elements.

In [95]:
def recommend_movies(title, cosine_sim=cosine_sim):
    
    idx = indices[title]

    
    sim_scores = list(enumerate(cosine_sim[idx]))

    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    
    sim_scores = sim_scores[1:11]

    
    movie_indices = [i[0] for i in sim_scores]

    
    return fraction_metadata['title'].iloc[movie_indices]

In [97]:
recommend_movies('The Godfather', cosine_sim)

1934           The Godfather: Part III
8001    The Night of the Following Day
7772                          Mitchell
5309                       The Gambler
5                                 Heat
426                      Carlito's Way
826                         Lotto Land
1084               Glengarry Glen Ross
1199            The Godfather: Part II
1430                     Donnie Brasco
Name: title, dtype: object